.tutorial{
    width: 100%;   
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
}

.tutorial h1{
    text-align: center;
    color: #15297c;
}

.tutorial p{
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex; /* Asegurarse de que flex se aplica correctamente */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 0 40px;
    font-family: Tahoma;
    font-size: 20px;
    text-align: justify;
}
.gestor {
    gap: 20px; /* Espacio entre elementos lottie*/
    width: 400px;            /* Ancho fijo para los contenedores en pantallas grandes */
    height: 150px;           /* Altura fija */
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin: 0 auto;          
    padding: 30px;           
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.contenedorGestor{
    display: inline;
    width: auto;
    text-align: center;
}


@media (max-width: 768px) {
    .gestor {
        width: 30%; 
        margin: 10px auto; /* Ajusta el margen para un centrado adecuado */
        padding: 10px; /* Reduce el padding para dispositivos más pequeños */
    }
}

@media (max-width: 480px) {
    .gestor {
        width: 90%; /* Da un poco de espacio a los lados en dispositivos muy pequeños */
        padding: 5px; /* Padding reducido aún más para maximizar el espacio de la imagen */
    }

    .gestor img {
        width: 100%; /* Asegura que la imagen use el ancho completo de `.gestor` */
    }
}