.header {
    background-color: #142157;
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0px 0px 10px black;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

  }

  .logo{
    width: 40px; /* Ajusta el tamaño según necesites */
    height: auto; /* Mantiene la proporción del logo */
    margin-left: 20px; 
    margin-right: 10px;
  }

  .header h1{
    margin-left: px 0px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    font-style: initial;
    top: 9rem;
}

.header .linkdecor {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white; /* O cambia esto si deseas otro color para el texto */
    width: 100%; /* Asegura que el enlace se extienda a lo ancho del header */
}