.appfooter {
  background-color: #e3e3e3;
  width: auto;
  padding: 10px 20px; 
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: 0;
  /* position: absolute;*/
  /* bottom: 0;  */

}

.appfooter img {
  height: 80px; 
  flex: 0 0 auto;          
}

.parrafos{
  display: flex; 
  text-align: center; 
  margin: 0; 
  color: #15297c;
  padding: 0 16px; 
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.parrafos p{
  margin: 10px;
}

/* 
@media (max-width: 768px) {
  .appfooter {
    flex-direction: column; 
    text-align: center;
  }

  .appfooter img {
    margin-bottom: 10px; 
  }
}
*/ 
@media screen and (min-width: 1020px) {
  .appfooter {
    flex-wrap: nowrap;
  
  }
} 