.ConsejosContainer{
    width: 100%; 
        
}

.ConsejosContainer h1{
    display: flex;
    justify-content: center;
    margin:40px;
    color:#15297c

}

.ConsejosContainer h4{
    text-align: justify;
    font-weight: bold;
    color:#15297c
    
}

.ConsejosContainer ol{
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.ConsejosContainer li{
    font-size: 22px;
    text-align: justify;
    /* font-weight: bold; */
    margin: 20px; 
    
}

.ConsejosContainer p{
    display: flex;
    font-size: 18px;
    text-align: justify;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.imagePhishing{
    width: 800px;
    height: 400px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    
}