.ConsejosContainer{
    width: 100%;
}

.ConsejosContainer h1{
    text-align: center;
    margin-top:40px;
    margin-bottom: 40px;
    color:#15297c

}

.ConsejosContainer h4{
    text-align: justify;
    font-weight: bold;
    color:#15297c;
    font-size: 20px;
    
}

.ConsejosContainer ol{
    padding-left: 40px; /* Asegura que el padding sea consistente para las listas */
    padding-right: 40px;
    text-align: center; /* Para centrar los números de lista si es necesario */
}

.ConsejosContainer li{
    font-size: calc(16px + 0.3vw); /* Tamaño de fuente adaptable */
    text-align: justify;
    margin: 20px;
}

.ConsejosContainer p{
    font-size: calc(16px + 0.3vw); /* Tamaño de fuente adaptable */
    text-align: justify;
    margin: 20px 60px; /* Margen más claro y consistente */
}

.imagePhishing{
    max-width: 80%; /* Hace que la imagen sea completamente responsiva */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block;
    margin: 0 auto;
    padding: 20px;
    
}


@media (max-width: 768px) {
    .ConsejosContainer h1, .ConsejosContainer h4, .ConsejosContainer p {
        margin-left: 20px;
        margin-right: 20px;
    }

    .ConsejosContainer li, .ConsejosContainer p {
        font-size: calc(14px + 0.5vw); /* Ajustar el tamaño de la fuente para pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .ConsejosContainer ol, .ConsejosContainer li, .ConsejosContainer p {
        margin: 10px;
    }

    .imagePhishing {
        padding: 10px;
    }
}