.uploadMedia{
  font-family: Tahoma; 
  display: flex;               /* Usamos Flexbox */
  flex-direction: column;
  justify-content: center;     /* Centramos el contenido horizontalmente */
  align-items: center;         /* Centramos el contenido verticalmente */
  height: 100vh;               /* El contenedor principal ocupa toda la altura de la ventana */
  text-align: center;  
  margin-top: 0;
  margin-bottom: 0;
}

.uploadMedia h1,h2{
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #15297c;
    text-align: center;
    align-items: center;
}

.uploadMedia img{
    max-width: 40%; 
    height: 40%;
    margin: 0 auto;
    border-radius: 15px; 
    
}
.uploadMedia p{
    font-family: Tahoma; 
}

.buttonexaminar {  
    font-family: 'Muli', sans-serif;  
    display: block;
    max-width: 150px;
    height: 30px;
    font-size: calc(12px + 0.5vw); /* Ajusta el tamaño de fuente responsivamente */
    margin: 20px auto; /* Centra el botón horizontalmente */
    padding: 10px;
    border-radius: 15px;
    background: #142157;
    color: #fbfaf7;
    cursor: pointer;
    text-align: center;
    
}

.buttonexaminar:hover{
    transform: scale(1.1); /* Aumenta el tamaño del botón al 110% */
    box-shadow: 0px 5px 5px #121D4C;
}

@media (max-width: 768px) {
  .uploadMedia img {
      max-width: 50%; /* Ajusta el tamaño de la imagen para pantallas más pequeñas */
  }

  .buttonexaminar {
      font-size: calc(10px + 2vw); /* Incrementa el tamaño de fuente en pantallas pequeñas */
  }
}