.table-responsive {
  display: flex;
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente dentro del contenedor */
  align-items: center; /* Centra los elementos verticalmente dentro del contenedor */
  min-height: 100vh;
}

table {
  width: 80%; /* O cualquier ancho que prefieras */
  margin: auto; /* Importante para centrar la tabla si no estás usando flexbox en el contenedor */
  border-collapse: collapse;
}
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  .phishing{
    color: red;
  }

  .secure {
    color: green;
  }