.table-responsive {
  display: flex;
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente dentro del contenedor */
  align-items: center; /* Centra los elementos verticalmente dentro del contenedor */
  min-height: 100vh;
}

h3{
  display: flex;
    justify-content: center;
    padding-top:40px;
    color:#15297c
}
h4{
  text-align: justify;
  font-weight: bold;
  color:#15297c;
  margin-left: 40px;
}

table {
  width: 80%; /* O cualquier ancho que prefieras */
  margin: auto; /* Importante para centrar la tabla si no estás usando flexbox en el contenedor */
  border-collapse: collapse;
}
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
    text-align: right;
  }
  
  .phishing{
    color: red;
    font-weight: bolder;
  }

  .secure {
    color: rgb(20, 213, 20);
    font-weight: bolder;
  }