.table-responsive {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente dentro del contenedor */
  flex-direction: column;
  align-items: center; /* Centra los elementos verticalmente dentro del contenedor */
  min-height: 100vh;
}

.h3{
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-top:40px;
  color:#15297c
}
h4{
  font-size: 18px;
  text-align: justify;
  font-weight: bold;
  color:#15297c;
  margin-left: 40px;
}

table {
  width: 100%; /* O cualquier ancho que prefieras */
  max-width: 80%;
  margin: 20px auto; /* Importante para centrar la tabla si no estás usando flexbox en el contenedor */
  border-collapse: collapse;
}
  
th, td {
  font-family: Tahoma; 
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #15297c;
}

th {
  background-color: #15297c;
  color: #f9f9f9;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
  text-align: right;
}

.phishing{
  color: red;
  font-weight: bolder;
}
.secure {
  color: rgb(20, 213, 20);
  font-weight: bolder;
}
.secure {
  color: green; /* Cambiado para mejorar la legibilidad */
  font-weight: bolder;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  table, th, td {
    width: 100%;
    padding: 8px;
  }

  h4 {
    margin: 10px; /* Reduce los márgenes para pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .table-responsive {
    padding: 0; /* Elimina el padding en dispositivos muy pequeños */
  }

  table, th, td {
    width: 50%;
    padding: 8px;
  }
}