.formasestafa{
    width: 100%; 
        
}

.formasestafa h1{
    text-align: center;
    margin:40px;
    color:#15297c

}

.formasestafa h4{
    text-align: justify;
    font-weight: bold;
    color:#15297c
    
}
.formasestafa ol{
    padding-left: 40px; /* Uso de padding en lugar de margin para control interno */
    padding-right: 40px;
}

.formasestafa li{
    font-size: calc(16px + 0.6vw); /* Tamaño de fuente adaptable */
    text-align: justify;
    margin: 20px;
    
}

.formasestafa p{
    font-size: calc(14px + 0.4vw); /* Tamaño de fuente adaptable */
    text-align: justify;
    margin: 20px 80px;
}

.ejemplos, .ejemplos2 {
    max-width: 80%; /* Usa max-width para adaptabilidad */
    height: auto; /* Altura auto para mantener proporciones */
    display: block;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

.ejemplos3 {
    width: 40%; /* Mantén un porcentaje para responsividad */
    height: auto; /* Altura automática para mantener proporciones */
    display: block;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

